:root {
    --bg-color: #F7FFD5;
    --nav-clear: #FFFFFF;
    --transparent-white: rgba(255, 255, 255, 0.7);
    --headers-fonts: 'Marhey', sans-serif;
    --p-fonts: 'SNOWMAS',sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

h1,
h2,
h4 {
    font-family: var(--headers-fonts);
}

h1 {
    font-size: 80px;
}

h2 {
    font-size: 45px;
}

h4 {
    font-size: 35px;
}

p {
    font-family: var(--p-fonts);
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: var(--bg-color);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--nav-clear);
    padding: 0px 10vw;
}

.nav-tabs {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

button {
    font-size: large;
    border: none;
    height: 9vh;
    background-color: #FFFFFF;
    padding: 0 25px;
}

.nav-tabs>a>button:hover {
    font-size: x-large;
    background-color: var(--bg-color);
}

.bg-img-container-home {
    height: 45vh;
    width: auto;
    background-image: url('./images/clear-water-mountain.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.selected {
    background-color: var(--bg-color);
    border-right: 1.5px solid black;
    border-left: 1.5px solid black;
}

.main-container {
    background-color: var(--transparent-white);
    border: 1px solid black;
    border-radius: 20px;
    margin: 0px 15vw;
    height: 100%;
}

.home-info {
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.home-info>ul {
    list-style-type: circle;
}

/* --------------------Lodging CSS--------------------- */

.lodging {
    display: flex;
    flex-direction: column;
}

.lodging-img {
    width: auto;
    height: 1000px;
    border-radius: 10px;
    /* border: 1px solid black; */
}

.lodging-intro,
.hotel,
.family-own {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}

.lodging-intro {
    margin-top: 20px;
    margin-bottom: 20px;
}

.lodging>section>p {
    margin-bottom: 35px;
    margin-top: 35px;
}

.lodging-img-container {
    display: flex;
    width: 100%;
    justify-content: space-evenly
}

.img-hover {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lodging-img-container>div>button {
    min-height: fit-content;
    min-width: fit-content;
    position: absolute;
    background-color: rgba(255, 255, 255, .7);
    border-radius: 15px;
    font-size: large;
    transition: linear 0.25s;
}

.img-hover>button:hover {
    font-size: x-large;
    background-color: var(--bg-color);
    border: 1px solid black;
    cursor: pointer;
}


/* -------------------Food CSS------------------- */

/* .bg-img-container-food {
    height: 45vh;
    background-image: url("./images/local-meal.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 15px;
} */

.food-img {
    width: 700px;
    height: auto;
    border-radius: 15px;
    transition: linear .2s;
    margin-bottom: 50px;
}

.food-img:hover {
    cursor: pointer;
    width: 775px;
    height: auto;
}

.food-imgs-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.food-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 0px;
}

/*------------------- Transportation CSS --------------------- */

.transportation-img {
    width: 800px;
    height: auto;
}