:root {
    --bg-color: #F7FFD5;
    --nav-clear: #FFFFFF;
    --transparent-white: rgba(255, 255, 255, 0.7);
    --headers-fonts: 'Marhey', sans-serif;
    --p-fonts: 'SNOWMAS', sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

h1,
h2,
h4 {
    font-family: var(--headers-fonts);
}

h1 {
    font-size: 80px;
}

h2 {
    font-size: 45px;
}

h3 {
    font-size: 30px;
    font-weight: 500;
}

h4 {
    font-size: 35px;
}

p,
h3,
li {
    font-family: var(--p-fonts);
}

li {
    font-size: 22px;
}

p {
    font-size: 25px;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: var(--bg-color);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--nav-clear);
    padding: 0px 10vw;
}

.nav-tabs {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-tabs>a>button,
.img-hover>button {
    font-size: 25px;
    border: none;
    height: 9vh;
    background-color: #FFFFFF;
    padding: 0 25px;
    font-family: var(--p-fonts);
    cursor: pointer;
}

.nav-tabs>a>button:hover {
    font-size: 30px;
    background-color: var(--bg-color);
}

.bg-img-container-home {
    height: 45vh;
    width: auto;
    background-image: url('./images/clear-water-mountain.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.selected {
    background-color: var(--bg-color);
    border-right: 1.5px solid black;
    border-left: 1.5px solid black;
}

.main-container {
    background-color: var(--transparent-white);
    border: 1px solid black;
    border-radius: 20px;
    margin: 0px 15vw;
    height: 100%;
}

.home-info {
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.home-info>ul {
    list-style-type: circle;
}

/* --------------------Lodging CSS--------------------- */

.lodging {
    display: flex;
    flex-direction: column;
}

.lodging-img {
    width: auto;
    height: 1000px;
    border-radius: 10px;
    /* border: 1px solid black; */
}

.lodging-intro,
.hotel,
.family-own {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}

.lodging-intro {
    margin-top: 20px;
    margin-bottom: 20px;
}

.lodging>section>p {
    margin-bottom: 35px;
    margin-top: 35px;
}

.lodging-img-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly
}

.img-hover {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lodging-img-container>div>button {
    min-height: fit-content;
    min-width: fit-content;
    position: absolute;
    background-color: rgba(255, 255, 255, .7);
    border-radius: 15px;
    font-size: 25px;
    transition: linear 0.25s;
}

.img-hover>button:hover {
    font-size: 30px;
    background-color: var(--bg-color);
    border: 1px solid black;
    cursor: pointer;
}


/* -------------------Food CSS------------------- */

/* .bg-img-container-food {
    height: 45vh;
    background-image: url("./images/local-meal.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 15px;
} */

.food-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 8vw;
}

.food-img {
    width: 720px;
    height: auto;
    border-radius: 15px;
    transition: linear .2s;
    margin-bottom: 50px;
}

.food-img:hover {
    width: 800px;
    height: auto;
}

.food-imgs-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.food-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 0px;
}

.dine-out>p,
.local-markets>p {
    margin-bottom: 40px;
}

/*------------------- Transportation CSS --------------------- */

.transportation-img {
    width: 800px;
    height: auto;
    margin-bottom: 50px;
    border-radius: 15px;
    transition: linear .2s;
}

.transportation-img:hover {
    width: 850px;
}

.transportation-header {
    text-align: center;
}

.transport-arrival,
.island-transportation {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.transportation-img-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;
}

.transport-intro {
    padding: 0px 8vw;
}

/* -----------Attraction CSS-------------- */

.attraction-header {
    text-align: center;
}

.attraction-img {
    width: 800px;
    border-radius: 15px;
    margin-bottom: 50px;
    transition: linear 0.2s;
}

.attraction-img:hover {
    width: 850px;
}

.adventure-imgs,
.entertainment-imgs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.entertainment,
.adventure {
    text-align: center;
}

.attraction-intro {
    margin: 0px 8vw;
}

/* --------------Footer CSS -------------- */

footer {
    display: flex;
    align-items: center;
    background-color: var(--nav-clear);
    justify-content: space-evenly;
}

.footer-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    background-color: var(--nav-clear);

}

.footer-botton {
    border: none;
    cursor: pointer;
}